@font-face {
    font-family: "overpass-regular";
    src: url("font/overpass-regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "overpass-bold";
    src: url("font/overpass-bold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "overpass-bold-italic";
    src: url("font/overpass-bold-italic.otf") format("opentype");
    font-display: swap;
}

body {
    font-family: "overpass-regular";
    background: url(img/background.jpg) center center no-repeat;
}

em {
    font-family: "overpass-bold-italic";
}

hr {
    width: 80%;
}

h1 {
    font-family: "overpass-bold";
    margin-bottom: 0.2rem;
}

/*卡片*/
main {
    text-align: center;
    background-color: rgba(252, 250, 242, 0.75); /*红绿蓝 透明度*/
    padding: 2.5rem 0;
    margin: 2rem auto;
    width: 550px;
    border-radius: 2.5rem; /*卡片弧度*/
}

/* 网页头 */
.avatar {
    width: 8rem;
    border-radius: 50%;
}

/* 介绍 */
.inroduction ul {
    padding: 0;
    margin-top: 0;
}

.inroduction li {
    display: inline-block;
    list-style-type: none;
}

/*博客按钮*/
.blog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    width: 35%;
    margin: 0 auto;
    color: white;
    background-color: black;
}

.blog-button img {
    width: 2rem;
    filter: invert(100%);
}

/* 社交链接 */
.social-links ul {
    padding: 0;
    margin-top: 0;
}

.social-links li {
    display: inline-block;
    list-style-type: none;
}

.social-icons {
    width: 3rem;
}

@media screen and (max-width:680px) {
    body {
        background: url(img/background-mobile.jpeg) center center no-repeat;
    }

    main {
        width: 100%;
        margin: 0;
    }
}